bin
obj
csx
.vs
edge
Publish
logs
.pytest_cache

*.user
*.suo
*.cscfg
*.Cache
project.lock.json

/packages
/TestResults
.claude

/tools/NuGet.exe
/App_Data
/secrets
/data
.secrets
appsettings.json

node_modules
dist

# Local python packages
.python_packages/

# Python Environments
.env
.venv
env/
venv/
venv
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Azurite artifacts
__blobstorage__
__queuestorage__
__azurite_db*__.json
app/server.log
app/logs
.calude*.pyc
